@{
    ViewBag.Title = "Home Page";
}


<!--== Slider Area Start ==-->
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>BOOK YOUR SERVICE TODAY!</h1>
                                <p>24*7 On Demand PickUp and Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->
<!--== About Us Area Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About SmartMove</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>The SmartMove is intended to be used in the field of transportation as an aid tool for service seekers (customers) and service providers (truck drivers) for moving things from one place to another in a cost-effective way. </p>

                            <p>SmartMove works according to the needs and requirement of the customers who request services and who accept a bids and provides to them data to make contact with qualified truck owners (and drivers) who provide the desired results. SmartMove makes sure that all goods remain in a safe condition during transit and they will be delivered safely at their destination.</p>
                            <div class="about-btn">
                                <a href="#">Book Your Service</a>
                                <a href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->


            <div class="col-lg-6">
                <div class=".about-image">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/Logo_SmartMove.PNG" style="margin-left: 20%;" alt="JSOFT"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== About Us Area End ==-->
<!--== SmartMove Android App Area Start ==-->
<section id="service-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>SmartMove Android App</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Service Content Start -->
        <div class="row">
            <!-- Single Service Start -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <h3>1. Side Menu</h3>
                    <img alt="screnshot" src="~/Content/images/services/Side_Menu.png" class="text-center">
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <h3>2. Enter Location</h3>
                    <img alt="screnshot" src="~/Content/images/services/Select_destination.png" class="text-center">
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <h3>3. Select Best Deal</h3>
                    <img alt="screnshot" src="~/Content/images/services/Select_deal.png" class="text-center">
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <h3>4. View Profile</h3>
                    <img alt="screnshot" src="~/Content/images/services/User_Profile.png" class="text-center">
                </div>
            </div>
            <!-- Single Service End -->
        </div>
        <!-- Service Content End -->
    </div>
</section>
<!--== SmartMove Android App Area End ==-->
<!--== App Features Area Start ==-->
<section id="area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>App Features</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- App Features Table Conatent Start -->
        <div class="row">

            <div class="col-lg-6 col-md-6 text-center">
                <div class="single-pricing-table">
                    <img alt="screnshot" src="~/Content/images/services/Select_destination.png" style="height:500px;" class="text-center">
                </div>
            </div>

            <!-- App Features Table -->
            <div class="col-lg-6 col-md-6">
                <div class="single-pricing-table">

                    <ul class="package-list">
                        <li>Track Your Truck Location</li>
                        <li>Free Registration</li>
                        <li>24*7 Support</li>
                        <li>Multi Choice Payment Option</li>
                        <li>Make Your Own Profile</li>
                    </ul>
                </div>
            </div>
            <!-- App Features Table -->
        </div>
        <!-- App Features Table Conatent End -->
    </div>
</section>
<!--== App Features Area End ==-->
