@model SmartMoveWebApp.Models.ViewModels.SuccessPageViewModel
@{
    /**/

    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    @if (Model != null)
    {
        <p>@Model.Message</p>
    }
    <p>
        @Html.ActionLink("Click here to Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })
    </p>
</div>

