
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}


<!-- Payment Content start -->
<div class="col-lg-9">
    <div class="tab-content" id="myTabContent">
        <!-- Payment  start -->
        <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member-info">
                        <h4 class="text-center">Payment</h4>
                        <div class="row col-lg-12 profile-title">
                            <h5>Payment Methods</h5>
                        </div>
                        <div class="row col-lg-12 text-center profile-title">
                            <div class="col-lg-12">
                                <p>No Payment Methods</p>
                            </div>
                        </div>
                        <div class="row col-lg-12 profile-title">
                            <h5>Promotions</h5>
                        </div>
                        <div class="row col-lg-12 text-center profile-title">
                            <div class="col-lg-12">
                                <p>No Active Promotions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Payment  End -->
    </div>
</div>
<!-- Payment Content End -->
