<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bedc5fbe-a8a2-42a2-a1c7-d91c402d7669/resourceGroups/naineshpatel/providers/Microsoft.Web/sites/SmartMoveWeb</ResourceId>
    <ResourceGroup>naineshpatel</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smartmoveweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smartmoveweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartMoveWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SmartMoveWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SmartMoveEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=198.71.225.113,1433;Initial Catalog=SmartMove;User ID=kishansoni;Password=kishan@4444" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-5P23A3N\SQLEXPRESS;Initial Catalog=SmartMove;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartMoveEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SmartMoveModel.csdl|res://*/SmartMoveModel.ssdl|res://*/SmartMoveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5P23A3N\SQLEXPRESS;initial catalog=SmartMove;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SmartMoveEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SmartMoveModel.csdl|res://*/SmartMoveModel.ssdl|res://*/SmartMoveModel.msl;provider=System.Data.SqlClient;provider connection string="data source=198.71.225.113,1433;initial catalog=SmartMove;user id=kishansoni;password=kishan@4444;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>