
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

<!-- Dashboard Content start -->
<div class="col-lg-9">
    <div class="tab-content" id="myTabContent">
        <!-- Dashboard  start -->
        <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member-info">
                        <h4 class="text-center">Profile</h4>
                        <div class="row col-lg-12 profile-title">
                            <h4>General Information</h4>
                        </div>
                        <div class="row col-lg-12 text-left profile-title">
                            <div class="col-lg-2">
                                <h5>Name</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>Pinal Vaghasiya</p>
                            </div>
                            <div class="col-lg-2">
                                <h5>Location</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>United States</p>
                            </div>
                        </div>
                        <div class="row col-lg-12 text-left profile-title">
                            <div class="col-lg-2">
                                <h5>Email</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>admin.admin@gmail.com</p>
                            </div>
                            <div class="col-lg-2">
                                <h5>Password</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>********</p>
                            </div>
                        </div>
                        <div class="row col-lg-12 text-left profile-title">
                            <div class="col-lg-2">
                                <h5>Profile Photo</h5>
                            </div>
                            <div class="col-lg-4">
                                <div class="team-mem-icon">
                                    <img src="~/Content/images/team/team-mem-thumb-2.png" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <h5>Mobile</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>United States +1</p>
                                <p>8582659445</p>
                            </div>
                        </div>
                        <div class="row col-lg-12 text-left profile-title" style="border-bottom: 0;">
                            <div class="col-lg-2">
                                <h5>Address</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>3678 Aero Ct, San Diego</p>
                            </div>
                            <div class="col-lg-2">
                                <h5>Mobile</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>United States +1</p>
                                <p>8582659445</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard  End -->
    </div>
</div>
<!-- Dashboard Content End -->
