@model IEnumerable<OrderBid>
@{
    ViewBag.Title = "My Trips";
    Layout = "~/Views/Shared/_TruckOwnersLayout.cshtml";
}

<!-- My Trips Content start -->
<div class="col-lg-9">
    <div class="tab-content" id="myTabContent">
        <!-- My Trips  start -->
        <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member-info">
                        <table class="table table-bordered text-center">
                            <tr class="side-menu">
                                <th>Pickup</th>
                                <th>Drop</th>
                                <th>Customer</th>
                                <th>Trips</th>
                                <th>Amount</th>
                                <th>Ratings</th>
                            </tr>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="6">No Past / Current Orders Found.</td>
                                </tr>
                            }
                            else
                            {
                                foreach (OrderBid orderBid in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>@orderBid.NumberOfTrips</td>
                                        <td>@orderBid.BidAmount</td>
                                        <td></td>
                                    </tr>
                                }
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Trips  End -->
    </div>
</div>
<!-- My Trips Content End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myMenu.nav.nav-tabs li.nav-item.active').removeClass('active');
            $("#menu_item_1").parent("li").addClass('active');
        });
    </script>
}